@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple demo application that I am building to demonstrate and 
    enhance my knowledge of ASP.NET MVC and Entity Framework. However, it 
    should also function just fine as a halfway decent contact manager, should 
    you choose to use it that way.</p>
