@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AspNetMvcEF6ContactManager</h1>
    <p class="lead">AspNetMvcEF6ContactManager is an open source demo application that can be used to track your contacts and their contact information.</p>
    <p><a href="https://github.com/stephengtuggy/AspNetMvcEF6ContactManager" class="btn btn-primary btn-lg">View on GitHub &raquo;</a></p>
</div>
